<mat-tab-group>
    <mat-tab label="Analysis">
        Content 1
    </mat-tab>
    <mat-tab label="Datasets">
        <div class="page">
            <button mat-fab color="primary" class="dataset-options" (click)="openBottomSheet()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="datasets">
                @for (dataset of this.datasets; track dataset) {
                <app-dataset [name]="dataset.name" [dataSource]="dataset.dataset"
                    [displayedColumns]="this.dataset.columns"></app-dataset>
                }
            </div>
        </div>
    </mat-tab>
</mat-tab-group>