@import "../../vars.scss";

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    background-color: hsl(
        hue($light-blue),
        100%,
        49%
    );;
}
#login-card {
    width: 70vw;
    padding: 1em;
    max-width: 20em;
    .title {
        font-weight: bold;
        font-size: 2em;
        color: hsl(
            hue($light-blue),
            100%,
            30%
        );
        width: 100%;;
    }
    mat-card-actions {
        display: flex;
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        color: hsl(
            hue($light-blue),
            100%,
            50%
        );
    }
    
}
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: 1em;
    .input {
        height: 3em;
        width: 90%;
        padding: 0.3em;
        border-radius: 1em;
        border: none;
        outline: 0.15em solid hsl(0, 0%, 90%);
    }
    .input:focus {
        outline: 0.15em solid hsl(
            hue($light-blue),
            100%,
            49%
        );
    }

}
.inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
    .image-input {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        padding: 0.3em;
        border: 0.15em dashed hsl(0, 0%, 90%);
        border-radius: 1em;
        .input {
            width: 90%;

        }
        .previewImage {
            width: 90%;
            align-self: center;
            text-align: right;
        }
        .noSource {
            font-weight: 400;
        }
    }
    .input {
        height: 3em;
        width: 90%;
        padding: 0.3em;
        border-radius: 1em;
        border: none;
        margin: 0.5em;
        outline: 0.15em solid hsl(0, 0%, 90%);
    }
    .input:focus {
        outline: 0.15em solid hsl(
            hue($light-blue),
            100%,
            49%
        );
    }

}