@import "../../vars.scss";

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin: 1em;
    .item {
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        width: 10em;
        .title {
            width: fit-content;
            padding: 3%;
            font-family: $titillium;
            font-weight: 400;
        }
        img {
            width: 100%;
            max-height: 10em;
        }

    }
}
.actions {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: flex-end;
    width: 100%;
}