
<div class="items">
    @for (ws of workspaceList; track ws) {
        <mat-card class="item">
            <mat-card-header>
              <mat-card-title class="title">{{ws.workspaceName}}</mat-card-title>
              <mat-card-subtitle class="sub-title">
                {{ws.description}}
              </mat-card-subtitle>
            </mat-card-header>
            @if (ws.coverPictureURL) {
                <img mat-card-image src={{ws.coverPictureURL}}/>
            }
            <mat-card-actions class="actions">
              <button mat-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button>
                <mat-icon>delete</mat-icon>
              </button>
          </mat-card-actions>
        </mat-card>
          
    }
    
</div>