
<div class="items">
    @for (ws of workspaceList; track ws) {
        <mat-card class="item">
            <mat-card-header>
              <mat-card-title>{{ws.workspaceName}}</mat-card-title>
              <mat-card-subtitle>
                {{ws.description}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
            @if (ws.coverPictureURL) {
                <img mat-card-image src={{ws.coverPictureURL}}/>
            }
        </mat-card>
          
    }
    
</div>