@import "../../vars.scss";

.items {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1em;
    align-items: stretch;
    padding: 1em;
    height: 60vh;
    
    .item:last-child {
        margin-right: 2em;
    }
    .item {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background-color: $amber;
        
        .imgContainer {
            overflow: hidden;
            border-radius: $border-radius;
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 70%;
        mat-card-header {
            display: flow-root;
            margin-bottom: 1em;
        }
        mat-card-actions {
            
            button {
                font-size: $font-size;
            }
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        .title {
                font-size: calc($font-size*2);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
                
        }

        .subtitle {
                font-size: calc($font-size);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
                overflow-wrap: break-word;
        }
        mat-card-actions {
            justify-self: bottom;
        }
    }
    .item:hover {
        background-color: $light-blue;
    }
}
.partners {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    div {
        font-family: $raleway;
        font-weight: 600;
    }
}