@import "../../vars.scss";

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: hsl(
        hue($light-blue),
        100%,
        49%
    );;
}
#login-card {
    width: 70vw;
    padding: 1em;
    max-width: 20em;
    .title {
        font-weight: bold;
        font-size: 2em;
        color: hsl(
            hue($light-blue),
            100%,
            30%
        );
        width: 100%;;
    }
    mat-card-actions {
        display: flex;
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        color: hsl(
            hue($light-blue),
            100%,
            50%
        );
    }
    
}
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: 100%;
    font-size: 1em;
    .input {
        height: 3em;
        width: 100%;
        padding: 0.3em;
        border-radius: 1em;
        border: none;
        outline: 0.15em solid hsl(0, 0%, 90%);
    }
    .input:focus {
        outline: 0.15em solid hsl(
            hue($light-blue),
            100%,
            49%
        );
    }

}
.error {
    color: red;
}