<div class="page">
    <mat-card id="login-card">
        <mat-card-header>
            <mat-card-title>
                <span class="title">Login</span>
            </mat-card-title>
        </mat-card-header>
        <p class="inputs">
            <input placeholder="Enter Username" class="input" [(ngModel)]="username" spellcheck="false">
            <input placeholder="Enter Password" class="input" type="password" [(ngModel)]="password" spellcheck="false">
            <span class="error">{{errorMessage}}</span>
        </p>
        <mat-card-actions>
            <a mat-stroked-button color="primary" (click)="authUser()">Login</a>
            <span>
                <a href="signup">Signup</a> here
            </span>
        </mat-card-actions>

    </mat-card>
</div>