<div class="page">
    <mat-card id="login-card">
        <mat-card-header>
            <mat-card-title>
                <span class="title">Login</span>
            </mat-card-title>
        </mat-card-header>
        <p class="inputs">
            <input placeholder="Enter Username" class="input">
            <input placeholder="Enter Password" class="input" type="password">
        </p>
        <mat-card-actions>
            <a href="dashboard" mat-stroked-button color="primary">Login</a>
            <span>
                <a href="signup">Signup</a> here
            </span>
        </mat-card-actions>

    </mat-card>
</div>