<mat-tab-group>
    <mat-tab label="Analysis">
        Content 1
    </mat-tab>
    <mat-tab label="Datasets" >
        <div class="button-group">
            <button mat-stroked-button color="primary" aria-label="Example icon button with a delete icon">
                Add Dataset <mat-icon>add</mat-icon>
            </button>
            <button mat-stroked-button color="primary" aria-label="Example icon button with a delete icon">
                Add Dataset <mat-icon>add</mat-icon>
            </button>
            <button mat-stroked-button color="primary" aria-label="Example icon button with a delete icon">
                Add Dataset <mat-icon>add</mat-icon>
            </button>
            <button mat-stroked-button color="primary" aria-label="Example icon button with a delete icon">
                Add Dataset <mat-icon>add</mat-icon>
            </button>
            <button mat-stroked-button color="primary" aria-label="Example icon button with a delete icon">
                Add Dataset <mat-icon>add</mat-icon>
            </button>
            <button mat-stroked-button color="primary" aria-label="Example icon button with a delete icon">
                Add Dataset <mat-icon>add</mat-icon>
            </button>
            <button mat-stroked-button color="primary" aria-label="Example icon button with a delete icon">
                Add Dataset <mat-icon>add</mat-icon>
            </button><button mat-stroked-button color="primary" aria-label="Example icon button with a delete icon">
                Add Dataset <mat-icon>add</mat-icon>
            </button>
        </div>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum cumque facilis voluptates delectus inventore optio! Quaerat quod facere autem, dolore numquam eligendi illo alias, repudiandae, mollitia minima officiis dignissimos consequatur.
            Sapiente, quibusdam perspiciatis doloremque culpa autem nesciunt magnam voluptas, veritatis consequuntur modi incidunt deserunt accusantium cumque veniam impedit quae deleniti quaerat accusamus, labore ab quisquam? Quibusdam aspernatur optio earum porro.
            Laboriosam repudiandae autem in placeat nostrum cumque minima, consectetur necessitatibus dolore ut amet consequatur delectus minus expedita quisquam laudantium molestias! Sint, perspiciatis. Enim sapiente provident aut numquam ipsa suscipit quos!
            Accusamus unde corporis cum, velit nihil error totam iusto! Perferendis impedit necessitatibus earum possimus ipsam neque mollitia laudantium et assumenda dolores? Nihil natus quisquam porro sed quo debitis deserunt iusto?
            Culpa veritatis rem et. Laboriosam iure ipsa necessitatibus ad dignissimos maiores perferendis, a tenetur, fugit ut, perspiciatis rerum sunt nisi fugiat doloremque enim dolore veniam eius alias officiis. Maxime, voluptates.
            Libero architecto reiciendis ab ullam pariatur nisi vitae sequi hic recusandae excepturi totam qui ad veniam impedit, a commodi debitis, voluptatum tenetur atque non nulla! Laudantium nisi ullam quaerat perferendis.
            Maxime possimus velit totam vitae dolore ipsum fugiat incidunt explicabo, rem tempore, neque rerum eius, cupiditate deserunt dolorem amet fugit nisi quasi! Suscipit magnam sit nemo perspiciatis deleniti et laborum.
            Consectetur voluptas nihil, sint, sunt, voluptatum magni quibusdam esse quisquam neque autem dolorum ea nulla dolorem velit unde quos illo! Distinctio corrupti recusandae quae molestias cupiditate doloribus aliquam explicabo est.
            Quia consectetur accusamus magni quos dolore nam, minima illo voluptatem quas veritatis impedit, vitae harum autem facilis nisi, ab sit molestias? Eos praesentium veniam quae obcaecati laboriosam culpa repudiandae a!
            Vitae adipisci praesentium provident, libero consequatur officia repellat placeat maiores aspernatur, saepe numquam temporibus dolorum labore, deserunt doloremque beatae porro illo impedit mollitia consequuntur autem. Nisi sequi unde illo voluptatum!
        </p>
    </mat-tab>
</mat-tab-group>