.button-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: max-content;
    height: 80vh;
    background-color: white;
    position: fixed;
    top: 10vh;
    left: 0.5em;
    align-self: center;
    border-radius: 3em;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.dataset-options {
    position: absolute;
    bottom: 1em;
    right: 1em;
}
.page {
    min-height: 80vh;
    border: 1px solid red;
    
}
.datasets {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;

}