$light-blue: hsl(199, 94%, 94%);
$amber: hsl(37, 100%, 94%);
$lb-h: 199;
$lb-s: 94%;
$lb-l: 94%;
$ab-h: 37;
$ab-s: 100%;
$ab-l: 94%;
$raleway: 'Raleway', sans-serif;
$anton: 'Anton', sans-serif;
$courier-prime: 'Courier Prime', monospace;
$roboto: 'Roboto', sans-serif;
$tilt-prism: 'Tilt Prism', sans-serif;
$titillium: 'Titillium Web', sans-serif;
$border-radius: 2em;
$list-width: 90vw;
//$font-size: min(1.2em, calc(1vw + 1vw));
$font-size: 1.2em;
