
<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <mat-button-toggle-group [(ngModel)]="collection" vertical>
                <mat-button-toggle mat-stroked-button value="Recent Workspaces">
                    Recent Workspaces
                </mat-button-toggle>
                <mat-button-toggle value="All Workspaces">
                    All Workspaces
                </mat-button-toggle>
            </mat-button-toggle-group>
    </mat-drawer>
    <mat-drawer-content class="content">
        <h1>{{collection}}</h1>
        <section>
            <mat-button-toggle-group [(ngModel)]="viewStyle">
                <mat-button-toggle value="list">
                    <mat-icon>list</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="grid">
                    <mat-icon>grid_view</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="agenda">
                    <mat-icon>view_agenda</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </section>
        @if (collection=='All Workspaces') {
            <app-workspace-list [viewStyle]="viewStyle" [workspaces]="workspaces"></app-workspace-list>
        }
        @if (collection=='Recent Workspaces') {
            <app-workspace-list [viewStyle]="viewStyle" [workspaces]="workspaces.slice(0,recentRange)"></app-workspace-list>
        }

    </mat-drawer-content>
</mat-drawer-container>