<mat-list class="items">
    @for (ws of workspaceList; track ws) {

    <mat-list-item class="item" line="5">
        <div class="content">
            <div matListItemTitle class="title">{{ws.workspaceName}}</div>
            <div  class="line">
                <span class="desc" matListItemLine>{{ws.description}}</span>
                <div  class="actions">
                    <button mat-icon-button><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                </div>
            </div>
            
            
            
            <div matListItemLine></div>
        </div>
        

    </mat-list-item>


    }

</mat-list>