@import "../../vars.scss";
.dashboard-page {
    display: flex;
    padding: 5%;
    flex-direction: column;
    .header {
        padding: 2%;
        border-radius: 1em;;        
        h1 {
            width: fit-content;
            font-family: $raleway;
            font-weight: 300;
        }
    }
    .btn-grp {
        width: fit-content;
        align-self: flex-end;
        margin: 2em;
    }
    
    
}