@import "../../vars.scss";
.background {
}
.divider {
    border: 0.025px solid $light-blue;
    width: 100%;
}
.create-card {

}
.dashboard-page {
    min-height: 80vh;
    display: flex;
    padding: 5%;
    flex-direction: column;
    .operation-tab {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .add-button {
            box-shadow: none;
        }
    }
    .header {
        border-radius: $border-radius;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        h1 {
            width: fit-content;
            font-family: $raleway;
            font-weight: 500;
            color: hsl(hue($light-blue), saturation($light-blue), 50);
        }
    }
    .btn-grp {
        width: fit-content;
        align-self: flex-end;
        margin: 2em;
    }
    
    
}
.close {
    position: absolute;
    top: 1em;
    right: 1em;
}
.previewImage {
    width: 3em;
}
.inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
    .image-input {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        padding: 0.3em;
        border: 0.15em dashed hsl(0, 0%, 90%);
        border-radius: 1em;
        .input {
            width: 40%;

        }
        .previewImage {
            width: 50%;
            align-self: center;
            text-align: right;
        }
        .noSource {
            font-weight: 400;
        }
    }
    .input {
        height: 3em;
        width: 90%;
        padding: 0.3em;
        border-radius: 1em;
        border: none;
        margin: 0.5em;
        outline: 0.15em solid hsl(0, 0%, 90%);
    }
    .input:focus {
        outline: 0.15em solid hsl(
            hue($light-blue),
            100%,
            49%
        );
    }

}
.avatar {
    border-radius: 100%;
    display: inline;
    width: 4em;
    height: 4em;
}
.owner-chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.empty {
    width: 100%;;
    font-family: $titillium;
    font-size: calc($font-size * 2.5);
    text-align: center;
    color: hsl(
                    hue($light-blue),
                    60%,
                    80%
                );
}
mat-button-toggle-group {
    background-color: none;
    mat-button-toggle {
        background-color: none;
    }
}
.btn-grp.mat-button-toggle-checked {
    background-color: none !important; 
}