@import "../../../vars.scss";
.panel {
    width: $list-width;
    display: flex;
    background-color: $amber;
    padding: 0.5em;
    border-radius: 0.5em;

    .title {
        font-family: $titillium;
        font-weight: 600;
        font-size: calc($font-size * 1);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .owner {
        min-width: 10%;
        font-family: $titillium;
        font-weight: 400;
        font-size: $font-size;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;
    }
}
.panel:hover {
    background-color: $light-blue;
}