<div class="introduction">
    <div class="description">
        <span class="title">
            Analyse Data on the Go!
        </span>
        <ul>
            <li>No code lines</li>
            <li>Flexible data sources</li>
            <li>Beautiful and clear visualisations</li>
            <li>For individuals and businesses alike!</li>
        </ul>
    </div>
    <div class="login">
        <span class="title">
            Try it out here!
        </span>
        <a mat-stroked-button color="primary" class="btn" href="signup">
            Sign up
        </a>
        <div>
            <span class="link">
                Returning User?
            </span>
            <a href="login" mat-button color="primary">Login</a>
        </div>

    </div>
</div>