@import "../vars.scss";
a {
    text-decoration: none;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
}
.paragraph {
    height: fit-content;
    width: 70%;
    display: flex;
    flex-direction: column;
    font-family: $raleway;
    h1 {
        color: hsl(hue($light-blue),
                saturation($light-blue),
                lightness($light-blue)-70%);
    }
    p {
        font-size: calc($font-size * 1.2);
        color: hsl(hue($light-blue),
                saturation($light-blue),
                lightness($light-blue)-80%);
    }
    .dbIconDiv {
        align-self: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}
.dbIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin: 5%;
    justify-content: space-evenly;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 1em;
        div {
            width: 5em;
            height: 5em;
            border-radius: 100%;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 4px 5px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1em;
            img {
                width: 100%;
            }
        }
    }
}
.introduction {
    background-image: linear-gradient(180deg, 
        hsl(hue($light-blue), saturation($light-blue), 50%) 50%, 
        hsl(hue($light-blue), saturation($light-blue), 60%),
        hsl(hue($light-blue), saturation($light-blue), 80%));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    padding: 2em;
    /* background-image: linear-gradient(180deg, white, $light-blue, hsl(
        hue($light-blue),
        saturation($light-blue),
        lightness($light-blue)-5%
    )); */
    height: fit-content;
    width: 100vw;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.description {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 2em;
    .title {
        font-weight: 600;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-size: calc($font-size * 3);
        text-align: center;
        letter-spacing: 0.01em;
        align-self: center;
    }
    li {
        font-size: calc($font-size * 1.5);
        font-weight: 300;
        color: hsl(hue($amber), 100%, 90%);
        font-style: italic;
        letter-spacing: 0.1em;
    }

    li::marker {
        content: "~ ";
        font-size: $font-size;
        font-weight: bold;
        color: hsl(hue($amber), 100%, 80%);
        letter-spacing: 0.1em;
    }
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    padding: 2em;
    .title {
        color: hsl(hue($light-blue),
                saturation($light-blue),
                lightness($light-blue)-60%);
        font-size: calc($font-size * 2);
        font-weight: 100;
    }
    span, a {
        font-size: $font-size;
    }
    .btn {
        padding-left: 1em;
        padding-right: 1em;
        font-size: calc(1vw + 1vh);;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 1em;
        color: hsl(
                hue($light-blue),
                saturation($light-blue),
                30%
            );
    }
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}